nav {
  border-bottom: 2px dashed black;

  ul {
    display: flex;
    list-style: none;
    padding-left: 0;

    justify-content: space-around;

    li {
      font-size: 2rem;
    }

    .unauthorized {
      text-decoration: line-through;
    }
  }
}
